{% extends "main.html" %}
{% block content %}

	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>


<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>
{% if 'username' in session %}
<div class="container">

</div>
{% else %}
{% endif %}



{% endblock %}
